*{
box-sizing: border-box; 
/*sito responsive da mettere sempre */
}

/*navbar*/

.navbar{
    background-color: #023047;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    padding: 1.5em;
}

.navbar-toggler{
    background-color: #ffb706;
    background: white;
}

.nav-link{
    font-weight: bold;
    font-size: 1.5em;
    color: #ffb706;
}

.nav-link:hover{
    text-decoration: underline #ffb706;
    color: white;
}

/*ESPERIENZE FIRST SECTION*/

.first-section-esperienze{
    background-color: #023047;
    justify-content: center;
    padding-left: 1.5EM;
    padding-bottom: 2EM;
}

.education-container{
    display: flex;
    flex-direction: initial;
    gap: 2em;
    flex-wrap: wrap;
}

.div-title-education{    
    flex: 1 1 45%;
    min-width: 300px;
}

.h3-education{
    color: #ffb706;
    font-size: 3em;
}

.bi-book{
    color: #ffb706;
    margin-top: 0.5em;
    margin-left: 1em;
}

.p-data{
    color: white;
    margin-bottom: 0
}

.p-descrizione{
    color: white;
}

.div-title-professional{
    justify-content: center;
    display: flex;
}

.title-education{
    color: #ffb706;
    margin-top: 1em;
}

.description-education{
    color: white;
}

.link-rif{
    font-style: italic;
    text-decoration: none;
    color: white;
        
}

.corsi-attestati{
    display: flex;
    background-color:#023047;
    color: white;
}
/* Esperienze second section */

.second-section-esperienze{
    color: #023047;
    padding-left: 1.5em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.title-professional{
    margin-top: auto;
    margin-left: 1em;
}

.data-professional{
    margin-bottom: 0;
}

.mecca{
    margin-top: 0.5em;
    margin-left: 1em;
}

.description0{
    flex: 1 1 45%;
    min-width: 300px;
}

.description0-logo{
    margin-top: 0.1cm;
    margin-bottom: 0.5cm;
}

.link-job{
    font-style: italic;
    text-decoration: none;
    color: black;        
}

.link-att{
    display: flex;
    justify-content: center;
    margin-left: 2cm;
    font-style: italic;
    text-decoration: none;
    color: #023047;        
}

.link-att-attachments{    
    text-decoration: none;    
}

.pro-container{
    display: flex;
    flex-direction: initial;
    gap: 2em; /* spazio tra le colonne */
    flex-wrap: wrap; /* opzionale: evita overflow su schermi piccoli */    
}

footer{
    background-color: #023047;
    color: #ffb706;
	text-align: center;
	padding: 10px;
	margin-top: 7px;
}
